.about{

background:#0d0d0d;

}

.about-container{

display:grid;

grid-template-columns:1fr 1fr;

gap:80px;

align-items:center;

}

.about-image{

overflow:hidden;

border-radius:20px;

}

.about-image img{

border-radius:20px;

transition:.6s;

}

.about-image:hover img{

transform:scale(1.08);

}

.section-tag{

color:#FFB703;

font-weight:700;

letter-spacing:3px;

}

.about-content h2{

font-size:50px;

margin:20px 0;

line-height:1.2;

}

.about-content p{

color:#bfbfbf;

line-height:1.9;

font-size:17px;

}

.about-cards{

margin:40px 0;

display:flex;

flex-direction:column;

gap:20px;

}

.about-card{

display:flex;

align-items:center;

gap:20px;

background:#181818;

padding:22px;

border-radius:15px;

transition:.35s;

}

.about-card:hover{

transform:translateX(10px);

background:#202020;

}

.about-card svg{

font-size:34px;

color:#E63946;

}

.about-card h4{

margin-bottom:8px;

font-size:20px;

}

.about-card p{

font-size:15px;

}

@media(max-width:1000px){

.about-container{

grid-template-columns:1fr;

}

.about-content{

text-align:center;

}

.about-card{

text-align:left;

}

}